<nav class="navbar">
  <ul>
    <li class="navbar__item"><a href={{ '/index.html' | relative_url }}>Home</a></li>
    <li class="navbar__item"><a href="{{ '/posts.html' | relative_url }}">Work with me</a></li>
    <li class="navbar__item"><a href="{{ '/posts.html' | relative_url }}">Research</a></li>
    <li class="navbar__item"><a href="{{ '/posts.html' | relative_url }}">Posts</a></li>
    <li class="navbar__item"><a href={{ '/about.html' | relative_url }}>About</a></li>
  <!--   <li class="navbar__item"><a href={{ '/assets/pdf/generic_CV_3.1.2019.pdf' | relative_url }}>CV</a></li> -->
  </ul>
</nav>
